@font-face {
    font-family: Montserrat Bold;
    font-display: auto;
    src: local('Montserrat Bold'), url(./assetss/fonts/Montserrat-Bold.woff2);
    font-style: normal;
}

@font-face {
    font-family: Montserrat ExtraBold;
    font-display: auto;
    src: local('Montserrat ExtraBold'), url(./assetss/fonts/Montserrat-ExtraBold.woff2);
    font-style: normal;
}

@font-face {
    font-family: Montserrat Italic;
    font-display: auto;
    src: local('Montserrat Italic'), url(./assetss/fonts/Montserrat-Italic.woff2);
    font-style: normal;
}

@font-face {
    font-family: Montserrat Medium;
    font-display: auto;
    src: local('Montserrat Medium'), url(./assetss/fonts/Montserrat-Medium.woff2);
    font-style: normal;
}

@font-face {
    font-family: Montserrat Regular;
    font-display: auto;
    src: local('Montserrat Regular'), url(./assetss/fonts/Montserrat-Regular.woff2);
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Montserrat Medium';
}

.primary-button {
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
border-radius: 30px;
padding: 14px 36px;
border: 0;
font-size: 16px;
color: white;
font-family: Montserrat Medium;
}

.container {
    width: 75%;
    margin: 0 auto;
}

h1 {
    font-size: 48px;
line-height: 64px;
color: white;
text-align: center;
}

h3 {
    font-size: 16px;
line-height: 20px;
color: white;
text-align: center;
font-family: Montserrat Regular;
margin: 0;

}

.home-section {
    background-image: url(./assetss/img/Rectangle\ \(2\).jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}

.home-section-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-section-content h1 {
    margin: 30px 0 50px;
}

.navbar .container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 480px;
    border-bottom: 1px solid #A1A1A1;
}

.navbar .container .m-element {
    margin: 0 20px;
    padding: 40px 0 40px 0;
    font-size: 16px;
line-height: 20px;
color: white;
font-family: Montserrat Regular;
height: 100%;
border-bottom: 2px solid transparent;
}

.navbar .container .m-element:hover {
    border-bottom: 2px solid white;
}

h2 {
    font-size: 36px;
line-height: 53px;
font-family: Montserrat Medium;
text-align: center;
margin-top: 110px;
font-weight: bold;
}

.offers.container p {
    font-size: 16px;
line-height: 25px;
text-align: center;
color: #999999;
margin-top: 50px;
font-family: Montserrat Regular;
}

.offers .container div {
    display: flex;
} 

.offers .container .offer-point {
    display: flex;
}

.offers .container .offer-point .o-cont .m-point {
    font-size: 18px;
line-height: 22px;
font-family: Montserrat Regular;

}

.offers .container .offer-point .o-cont .o-expl{
    font-size: 14px;
line-height: 22px;
color: #999999;
font-family: Montserrat Regular;
}

.our-works {
    background: linear-gradient(#504DC2
    50%, white 50%);
    padding: 100px 0 85px;
}

.our-works-title {
    display: flex;
    justify-content: space-between;
}

.our-works-title h4,
.our-works-title .our-works-title-button {
    flex: 1;
}

.our-works-title .our-works-title-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

h4 {
    color: white;
    font-size: 36px;
line-height: 53px;
font-family: Montserrat Bold;
margin: 0;
}

.our-works-content {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    padding-bottom: 85px;
    border-bottom: 1px solid #E0E0E0;
}

.our-works-item img {
    width: 100$;
}

.our-works-item {
    width: 31%;
}

h5 {
    font-weight: 600;
font-size: 18px;
font-family: Montserrat Bold;
}

.our-works-item h5 span {
    color: #4985FF;
}

.our-works-item p {
    font-size: 16px;
line-height: 25px;
color: #999999;
}

.our-works-item a {
    font-size: 16px;
line-height: 20px;
text-decoration-line: underline;
color: #4985FF;
}
